@mixin desktop {
	@media (min-width: 834px) {
		@content;
	}
}

@mixin mobile {
	@media (max-width: 833px) {
		@content;
	}
}

@mixin mainChange {
	@media (max-width: 734px) {
		@content;
	}
}

@mixin flex($justify, $align) {
	display: flex;
	justify-content: $justify;
	align-items: $align;
}

// @mixin width($width) {
// 	width: ($width / 16) + rem;
// }

// @mixin heigth($height) {
// 	height: ($height / 16) + rem;
// }
//
